extends ../../layouts/default.pug
//- extends là kế thừa
include ../../mixins/box-head.pug
//- include là nhúng vào 
include ../../mixins/product-layout.pug
block main
    .conteiner.my-3
        .row 
            .col-12 
                +box-head(pageTitle)
        
        +product-grid(products)